<head>
    <title>
        Carlos
    </title>
</head>

<template name="contactForm">


    <nav >
           
            
            
            
            
            <div class="row">
                    <div class="center-block" style="width:500px">
                           <h1>CREATE CONTACT</h1> 
                        
                    </div>
                    </div>
                
    </nav>


    <div class="container">
        <!-- <img src="/client/layouts/img/logo.png" class="img-rounded"> -->



        <div>
            {{> quickForm schema="contact" id="asa" type="method" meteormethod="createUser" aligment="center"}}
        </div>

    </div>






</template>

<!-- <template name="Primer">
    <div>
        {{#autoForm schema="User" id="contactFormu" type="method"
    meteormethod="sendEmail"
    }}
    <fieldset>
        <legend>Contact Us</legend>
        {{> afQuickField name="username"}}
       
        {{> afQuickField name="emails" }}
        <div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="reset" class="btn btn-default">Reset</button>
        </div>
    </fieldset>
    {{/autoForm}}
    </div>
    
</template> -->